<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <div class="site-title">
      <h1>incorporated:$<span class="cursor">█</span></h1>
    </div>
    <h2 id="size-display"></h2>
    <div id="app"></div>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="static/socket.io/client-dist/socket.io.js"></script>
    <script src="/js/myJS.js"></script>
  </body>
</html>
